body {
  margin: 0;
  padding: 0;
  background: url(./images/bg-img5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  font-family: "Karla", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  color: rgb(250, 250, 254);
}

input:focus {
  outline: 0;
}

input {
  color: #000;
  text-indent: 16px;
}

nav {
  padding: 16px;
  margin-bottom: 5rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

.logo {
  font-size: 42px;
}

/* ***************************** CHAT BOX STYLES **************************************** */

.chat-box-container {
  display: none;
  width: 50%;
  margin: auto;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  height: 70vh;
  padding: 1rem;
}

.chat-box-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
}

.user-profile {
  border-radius: 50%;
  border: 1px solid pink;
  padding: 8px;
}

.active-chat-user {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid pink;
}

.call-option {
  margin-left: auto;
}

form {
  display: flex;
  gap: 5px;
  margin-top: auto;
  border-top: 2px solid pink;
  padding-top: 16px;
}

.msg-text {
  flex-grow: 1;
  border: 0;
  line-height: 300%;
  border-radius: 500px;
}

.msg-text::placeholder {
  color: black;
  text-indent: 1rem;
}

.send-btn {
  padding: 0 1rem;
  border-radius: 500px;
  border: 0;
  font-size: 20px;
  background-color: deeppink;
}

.chat-msg-container {
  overflow: scroll;
  padding: 8px;
}

.chat-msg-container::-webkit-scrollbar {
  display: none;
}

.chat-bubble {
  background-color: deeppink;
  max-width: 200px;
  width: fit-content;
  padding: 8px;
  font-size: 13px;
  border-radius: 10px;
  margin-bottom: 4px;
  margin-left: auto;
}

.chat-bubble:nth-last-child(1) {
  animation: slideIn 400ms ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: scale(0);
    margin-right: -100%;
  }

  50% {
    transform: scale(0.5);
    margin-right: -50%;
  }

  100% {
    transform: scale(1);
    margin-right: 0;
  }
}

/******************************* FRIENDS-LIST**************************** */

.friends-list {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.friend-contact-wrapper {
  padding: 16px;
  border-bottom: 2px solid pink;
  display: flex;
  align-items: center;
  gap: 10px;
}

.friend-icon {
  height: 30px;
  width: 30px;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid rgb(224, 27, 126);
}

.friend-contact-wrapper h3,
.friend-contact-wrapper p {
  color: rgb(62, 54, 54);
}
